{% extends 'base.html.twig' %}

{% block title %}Factures{% endblock %}

{% block body %}
<h1>Gestion des Factures</h1>

<div class="input-group mb-3">
    <input type="text" id="searchInput" class="form-control" placeholder="Rechercher par nom d'association...">
</div>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="associationsTableBody">
        {% for association in associations %}
            <tr>
                <td>{{ association.id }}</td>
                <td>{{ association.nom }}</td>
                <td>
                    <a href="{{ path('deposer_facture', { 'id': association.id }) }}" class="btn btn-sm btn-primary">Déposer une Facture</a>
                    <a href="{{ path('statistiques_index', { 'id': association.id }) }}" class="btn btn-sm btn-secondary">Voir toutes les Factures</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    // Fonction pour effectuer la recherche à chaque saisie dans l'input
    document.getElementById('searchInput').addEventListener('input', function() {
        let searchValue = this.value.trim().toLowerCase();
        let rows = document.querySelectorAll('#associationsTableBody tr');

        rows.forEach(function(row) {
            let associationName = row.querySelector('td:nth-child(2)').textContent.toLowerCase();
            if (associationName.includes(searchValue)) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    });
</script>
{% endblock %}
