{% extends 'base.html.twig' %}

{% block title %}Factures{% endblock %}

{% block body %}
<h1>Gestion des Factures</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for association in associations %}
            <tr>
                <td>{{ association.id }}</td>
                <td>{{ association.nom }}</td>
                <td>
                    <a href="{{ path('deposer_facture', { 'id': association.id }) }}" class="btn btn-sm btn-primary">Déposer une Facture</a>
                    <a href="{{ path('statistiques_index', { 'id': association.id }) }}" class="btn btn-sm btn-secondary">Voir toutes les Factures</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
