{% block body %} 
        
        <div style='border:1px solid black;width:35%;padding:5%;background-color:#E5098A' width='50%'>
                <a href='https://ffn-naturisme.com/wp-content/uploads/2019/10/la_licence_HD.pdf' class="btn btn-success" style='text-align:center'>
                <img src="{{ asset('/depliants/1.PNG') }}" alt="Image" width="150" height="280">
                </a>
                <a href='https://ffn-naturisme.com/questions-et-reponses/' class="btn btn-success" style='text-align:center'>
                <img src="{{ asset('/depliants/2.PNG') }}" alt="Image" width="150" height="280">
                </a>
                <a href='https://ffn-naturisme.com/wp-content/uploads/2019/10/prejuges_ffn_hd.pdf' class="btn btn-success" style='text-align:center'>
                <img src="{{ asset('/depliants/3.PNG') }}" alt="Image" width="150" height="280">
                </a>
                <p style="text-align:center">Cliquez sur le dépliant qui vous intéresse.</p>
        </div>
{% endblock %}
