{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}


{% if app.user.id == 94 %};

    <h1 style='padding-top:0.2%;text-align:center;color:#43A3C8;font-weight:bold'>{{app.user.type}}</h1>
    <p style='text-align:center'>{{ app.user.nom }}</p>
    <hr style='background-color:black;border-none;height:0.5px;margin-right:-100%;margin-left:-100%'>

    <h3 style='text-align:center'>Changer le mot de passe</h3>

    <div style='padding-right:30%;padding-left:30%;padding-top:2%'>
  
    </div>
    <a class="btn btn-success" href="{{ path('editPassAdmin', {'associationId': association.id, 'restoreDefaultPassword': true}) }}" class='btn btn-primary' style='margin-top:3%;width:15%;display:block;margin:1% auto !important;margin-top:5%'>Rétablir le mot de passe par défaut de {{association.nom}}</a> 

{% endif %}

{% endblock %}


